projects/uart/one-way-comm/startup/*
projects/uart/one-way-comm/system/*
projects/uart/one-way-comm/linker/*
projects/uart/one-way-comm/build/*
projects/uart/two-way-comm/startup/*
projects/uart/two-way-comm/system/*
projects/uart/two-way-comm/linker/*
projects/uart/two-way-comm/build/*

projects/test/test/startup/*
projects/test/test/system/*
projects/test/test/linker/*
projects/test/test/build/*
projects/dma/dma_intro/startup/*
projects/dma/dma_intro/system/*
projects/dma/dma_intro/linker/*
projects/dma/dma_intro/build/*
projects/timers/led_timer/startup/*
projects/timers/led_timer/system/*
projects/timers/led_timer/linker/*
projects/timers/led_timer/build/*
